# Applied at: /data
- !policy
  id: {{IDENTITY_PATH}}
  body:
    - !group
    - !variable env_vars
    - !permit
        resource: !variable env_vars
        privileges: [ read, execute ]
        roles: !group
